*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    height: 110px;
}

.tit{
    color: #32A4F6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight:bold;
}

.itNav{
    color: #242C49;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    
}
.itLogin{
    color: #32A4F6;
    font-weight: 700px;
}

.itPad{
    padding-right: 100px;
    padding-left: 50px;
}


  .img-fluid {
    max-width: 100%;
    height: auto;
  }
.display-4{
    color:#242C49;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.pad2{
background-color: #EAEAEB;
width: 100%;
}

.footer{
    background-color: #32A4F6;
    height: 50%;
}

